<?xml version="1.0"?>
<config>
    <modules>
        <Certification_Basic>
            <version>0.0.1</version>
        </Certification_Basic>
    </modules>
    <global>
        <blocks>
            <certification_basic>
                <class>Certification_Basic_Block</class>
            </certification_basic>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <product>Certification_Basic_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
            <certification_basic>
                <class>Certification_Basic_Model</class>
                <!--<resourceModel></resourceModel>-->
            </certification_basic>
        </models>
    </global>
    <crontab>
        <jobs>
            <write_in_log_def>
                <schedule>
                    <config_path>crontab/jobs/write_in_log_def/schedule/cron_expr</config_path>
                </schedule>
                <run>
                    <model>certification_basic/cron::sendDef</model>
                </run>
            </write_in_log_def>
            <write_in_log_message3>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>certification_basic/cron::send</model>
                </run>
            </write_in_log_message3>
            <write_in_log_message2>
                <schedule>
                    <cron_expr>always</cron_expr>
                </schedule>
                <run>
                    <model>certification_basic/cron::sendAlways</model>
                </run>
            </write_in_log_message2>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <certif_basic>
                <use>standard</use>
                <args>
                    <module>Certification_Basic</module>
                    <frontName>trans</frontName>
                </args>
            </certif_basic>
        </routers>
        <translate>
            <modules>
                <Certification_Basic>
                    <files>
                        <default>Certification_Basic.csv</default>
                    </files>
                </Certification_Basic>
            </modules>
        </translate>
        <events>
            <catalog_product_load_before>
                <observers>
                    <certification>
                        <class>certification_basic/observer</class>
                        <method>catalogProductLoadBefore</method>
                    </certification>
                </observers>
            </catalog_product_load_before>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <certif_basic>
                        <type>model</type>
                        <class>certification_basic/observer</class>
                        <method>layoutRenderBeforeCatalogCategoryView</method>
                        <args></args>
                    </certif_basic>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
        </events>
        <layout>
            <updates>
                <certification>
                    <file>certification_basic.xml</file>
                </certification>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <catalog_product_delete_after_done>
                <observers>
                    <certif_save_product>
                        <type>model</type>
                        <class>certification_basic/observer</class>
                        <method>deleteProductAfterDone</method>
                    </certif_save_product>
                </observers>
            </catalog_product_delete_after_done>
        </events>
    </adminhtml>
    <stores>
        <german>
            <general>
                <country>
                    <default>UA</default>
                </country>
                <store_information>
                    <name>My Shope</name>
                </store_information>
            </general>
        </german>
    </stores>
    <default>
        <payment>
            <paymentnew>
                <active>1</active>
                <model>certification_basic/paymentnew</model>
                <order_status>processing</order_status>
                <title>Payment New</title>
                <currency>USD</currency>
                <group>offline</group>
            </paymentnew>
        </payment>
    </default>
</config>