<?xml version="1.0"?>
<config>
    <modules>
        <Certification_Basic>
            <version>0.0.1</version>
        </Certification_Basic>
    </modules>
    <global>

    </global>
    <frontend>
        <layout>
            <updates>
                <certification>
                    <file>certification_basic.xml</file>
                </certification>
            </updates>
        </layout>
    </frontend>
</config>