<?xml version="1.0"?>
<config>
    <modules>
        <Base_Configuration>
            <version>0.0.2</version>
        </Base_Configuration>
    </modules>
    <global>
        <!--<skip_process_modules_updates>1</skip_process_modules_updates>-->
        <models>
            <base_configuration>
                <class>Base_Configuration_Model</class>
            </base_configuration>
        </models>
        <resources>
            <anythinng>
                <setup>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                    <module>Base_Configuration</module>
                </setup>
            </anythinng>
        </resources>
        <!--<rewrite>
            <my_redirect>
                <from>/catalog\/category\/view\/id\/9/</from>
                <to>customer/account/create</to>
                <complete/>
            </my_redirect>
        </rewrite>-->
        <routers> <!-- this is possible after dispatching in Mage_Core_Controller_Varien_Action preDispatch -->
            <customer>
                <rewrite>
                    <account>
                        <actions>
                            <edit><to>my_french_shop/show_products/index</to></edit>
                        </actions>
                    </account>
                </rewrite>
            </customer>
        </routers>

    </global>
    <default>
        <web>
            <routers>
                <my_route>
                    <class>Base_Configuration_Controllers_MyRoute</class>
                    <area>frontend</area>
                </my_route>
            </routers>
        </web>
    </default>
    <!-- Loading route for french store -->
    <stores>
        <french>
            <web>
                <routers>
                    <my_french_route>
                        <class>Base_Configuration_Controllers_MyFrenchRoute</class>
                        <area>frontend</area>
                    </my_french_route>
                </routers>
            </web>
        </french>
    </stores>
    <frontend>
        <translate>
            <modules>
                <base_configuration>
                    <files>
                        <base1>base_configuration1.csv</base1>
                    </files>
                </base_configuration>
            </modules>
        </translate>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <my_observers>
                        <type>model</type>
                        <class>Base_Configuration_Model_Observer</class>
                        <method>test</method>
                    </my_observers>
                </observers>
            </controller_front_send_response_before>
        </events>
        <routers>
            <!-- extend controller/action load before then -->
            <customer>
                <args>
                    <modules>
                        <anything before="Mage_Customer">Base_Configuration</anything>
                    </modules>
                </args>
            </customer>
            <french_contacts>
                <use>my_french_route</use>
                <args>
                    <module>Base_Configuration</module>
                    <frontName>my_french_shop</frontName>
                </args>
            </french_contacts>
            <configuration>
                <use>standard</use>
                <args>
                   <module>Base_Configuration</module>
                   <frontName>tran</frontName>
                </args>
            </configuration>
        </routers>
    </frontend>
</config>